
spring:
  datasource:  # TODO MySQL로 변경
    driver-class-name: org.h2.Driver
    username: sa
    password:
    url: jdbc:h2:mem:test
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create # TODO 운영 환경시 변경 필요
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
    defer-datasource-initialization: true # data.sql 실행 시점을 변경(JPA 테이블 생성 후로 연기)
  sql: # TODO 운영 환경시 init 쿼리 제외 필요
    init:
      mode: always

oauth2:
  kakao:
    client_id: ENC(IV5sWrX0xSoSzwpDxxazOvUegIIT00oK/1XZVHd7wOcxQmsHFIgMh43fLFuW0f6F)
  apple:
    team-id: ENC(09FhwrSBqt5uAvQ9RMp5hlEzkiKveQ13)
    client-id: com.climingo.app
    key:
      id: ENC(vMblaJ8Ea8c+b1ZODZ5BQEJValMqk3S0)
      path: ENC(UQVIwN53EBnE0TcwgTT79HYM2KUrEcRDhlx72+W+anbO87WiWJbCSJQKOPqGBNGaze2oi9obarWiRuzW5UdJtLUzNe7icfKNPepJrHZXhVSD5UUO5eHsvbFVeWhVScgeIPxvtbdsk0LMsLH7EbzSuC852HHy0/KQ6j8gJREw/RkyFuHFYJR2VupYASz9jpdabzwA6q9Lh9v7BPqLB2nFzub5xmHMU7HWICvzSHbnTsgXqyQXr7XtvHxQVZN5z4lEAKbk0BB53vm3ammzkxhTo656ZFAgK69n)


ffmpeg:
  ffmpeg-path: /usr/bin/ffmpeg
  ffprobe-path: /usr/bin/ffprobe

app:
  version: ${version}
  build:
    time: ${buildTime}

discord:
  webhook-url: ENC(AU5F7ZCFfWbd9B+G3JXqZLEOfEA9u+tvKjCoJQQjjZyWYkl990YV2Ijn1hh3j8qcA3im+A02HgLz1Zwuz4IV3G1n20JpFyEq2nb8Q4pV/7DZ5LW7iA+PKeA9QMqOy7lTU4iF3ZpQ7vuA0QKpEsvzcfoXs7UrIvYwgs85MFi8mThe4677K4uDtg==)

auth:
  cookie:
    domain: climingo.xyz