
spring:
  datasource:
    driver-class-name: org.h2.Driver
    username: sa
    password:
    url: jdbc:h2:mem:test
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
    defer-datasource-initialization: true # data.sql 실행 시점을 변경(JPA 테이블 생성 후로 연기)
  sql:
    init:
      mode: always

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

oauth2:
  kakao:
    client_id: ENC(1OlukTw7U+1AbNzhNIOLn5Kw7FAdHHDEFgQZbwLHB6C7IjncLII7ZGO1RukxW0Hc)
  apple:
    team-id: ENC(09FhwrSBqt5uAvQ9RMp5hlEzkiKveQ13)
    client-id: com.climingo.app
    key:
      id: ENC(vMblaJ8Ea8c+b1ZODZ5BQEJValMqk3S0)
      path: ENC(UQVIwN53EBnE0TcwgTT79HYM2KUrEcRDhlx72+W+anbO87WiWJbCSJQKOPqGBNGaze2oi9obarWiRuzW5UdJtLUzNe7icfKNPepJrHZXhVSD5UUO5eHsvbFVeWhVScgeIPxvtbdsk0LMsLH7EbzSuC852HHy0/KQ6j8gJREw/RkyFuHFYJR2VupYASz9jpdabzwA6q9Lh9v7BPqLB2nFzub5xmHMU7HWICvzSHbnTsgXqyQXr7XtvHxQVZN5z4lEAKbk0BB53vm3ammzkxhTo656ZFAgK69n)

ffmpeg:
    ffmpeg-path: /usr/local/bin/ffmpeg
    ffprobe-path: /usr/local/bin/ffprobe

app:
  version: local_temp_version
  build:
    time: local_temp_build_time

discord:
  webhook-url: https://discord.com/api/webhooks/1246453066535014442/JTLPOUfk-LDtVVYGR6AhWEc3AdEbOIwtxyX2YxTidtC4368SMh_hOeI5v_EU80szroZb

auth:
  cookie:
    domain: localhost

management:
  endpoints:
    web:
      exposure:
        include: "*"  # 모든 엔드포인트 노출
  metrics:
    tags:
      application: climingo-api # 애플리케이션 태그 이름으로 특정 애플리케이션에 대한 내용만 필터링 가능
  endpoint:
    health:
      show-details: "always"  # Health 상태에 세부 정보 포함
